@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --dark: #1A1A1A;
  --gold: #F7B500;
  --red: #E31837;
  --green: #27AE60;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #0a0a0a;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
